/* Animations.css */
.blink{
    animation: blink 30s step-start infinite;
  }
  
  @keyframes blink {
    from{
      opacity: 0
    }
    to {
      opacity: 2;
    }
  }
  .slide{
    animation: slide 0.5s ease backwards;
  }
  @keyframes slide {
    0% {
      transform: translateY(10px);
      opacity: 10;
    }
    100% {
      transform: translateY(1);
      opacity: 10;
    }
    
  }
  .fade-in {
    animation: fadeIn 8.6s ease forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .info{
    animation: info 1.2s ease forwards;
  }
  @keyframes info {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
    
  }

@keyframes slideInLeft {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .zoom-in {
    animation: zoomIn 2.5s ease-out forwards;
  }
  
  .slide-in-left {
    animation: slideInLeft 1.6s ease forwards;
  }
  
  .slide-in-right {
    animation: slideInRight 2.6s ease forwards;
  }
  