@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
html, body {
    margin-left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: 10px; /* Prevent horizontal scrolling */
   /* } */ 
/* index.css or App.css */
@keyframes thumbsDownShake {
  0%, 100% { transform: rotate(0); }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  75% { transform: rotate(-10deg); }
}

.animate-thumbs-down {
  animation: thumbsDownShake 0.5s ease-in-out;
}

@keyframes thumbsUp {
  0% { transform: scale(1); }
  30% { transform: scale(1.4) rotate(-15deg); }
  60% { transform: scale(1.2) rotate(15deg); }
  100% { transform: scale(1); }
}

.animate-thumbs {
  animation: thumbsUp 0.5s ease-in-out;
}

