/* Navbar.css */

/* 3D animation for the name */
@keyframes float3D {
    50%, 100% {
      transform: perspective(500px) rotateX(0deg) rotateY(0deg);
      text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    }
    50% {
      transform: perspective(500px) rotateY(10deg) rotateY(10deg);
      text-shadow: 1px 10px 20px rgba(0, 0, 0, 0.2);
    }
  }
  
  /* Apply the animation to the .name class */
  .name {
    display: inline-block;
    animation: float3D 3s ease-in-out infinite;
  }

  /* In your CSS file (e.g., Navbar.css) */
  .navbar {
    width: 100%;
    position: relative;
    top: 2px;
    margin-bottom: -100px;
    left: -5px;
    right: 0;
    z-index: 1;
    box-shadow: inset 0 -2px 0 rgba(0, 1, 0, 0.1);
  } 
  

  